.connection {
	background: #121212;
}

.connection__wrap {
	padding: 70px 0 70px;
	display: flex;
	flex-direction: column;
	min-height: 900px;
	padding-bottom: 35px;
	margin: 0 0 35px;
}

.connection__title {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 80%;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 35px;
	margin: 0 0 35px;
}

.connection__contact {
	display: flex;
	flex-wrap: wrap;
	gap: 100px;
}

.contact__adres {
	display: flex;
	flex-direction: column;
	gap: 17px;
}

.contact__title {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 100%;
	color: rgba(255, 255, 255, 0.6);
}

.adres__text {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #ffffff;
	margin-bottom: 70px;
}

.contact__contact {
	display: flex;
	flex-direction: column;
}

.contact__tel {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #ffffff;
	text-decoration: none;
	margin-top: 17px;
}

.contact__mail {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #ffffff;
	text-decoration: none;
	margin-bottom: 70px;
}
