.header {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	max-width: 1160px;
	padding: 20px 0;
}

.header__nav__lan {
	display: flex;
	align-items: center;
	gap: 7px;
	margin-left: auto;
}

.header__nav {
	display: flex;
	align-items: center;
	gap: 30px;
	margin-left: 30px;
}

.header__nav__link {
	text-decoration: none;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
}

._en {
	color: rgba(255, 255, 255, 0.6);
}

.header._white .header__nav__link {
	color: #000;
}

.header._white ._en {
	color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1200px) {
}
