.projects {
	background: #121212;
	border-radius: 40px 40px 0px 0px;
	margin-top: -40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 70px 0;
	width: 100%;
}

.projects__title {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 100%;
	color: #ffffff;
	margin-bottom: 35px;
	max-width: 1160px;
	width: 100%;
}

.projects__list {
	display: flex;
	flex-wrap: wrap;
	gap: 80px;
	max-width: 1160px;
	width: 100%;
}

.projects__list__section {
	width: calc(50% - 40px);
	gap: 20px;
	border-top: 1px solid #ffffff;
	padding-top: 14px;
}

.section__title {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 100%;
	color: #ffffff;
	margin: 15px 0 0;
}

.section__text {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 125%;
	color: #ffffff;
	margin: 20px 0 0;
}
